[submodule "micropython"]
	path = micropython
	url = https://github.com/micropython/micropython.git
[submodule "msgpuck"]
	path = msgpuck
	url = https://github.com/rtsisyk/msgpuck
    ignore = dirty
[submodule "mbedtls"]
	path = mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
