#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config CALVIN
	bool "calvin"
	select NET_LWIP
	default n
	---help---
		Enable the Calvin runtime

if CALVIN

config CALVIN_PROGNAME
	string "Program name"
	default "calvin"
	depends on BUILD_KERNEL
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

config CALVIN_PRIORITY
	int "Calvin runtime task priority"
	default 100

config CALVIN_STACKSIZE
	int "Calvin runtime stack size"
	default 14336

config CALVIN_INACTIVITY_TIMEOUT
	int "Select timeout if no timers"
	default 2

config CALVIN_STORAGE
	bool "Enable state serialization/deserialization"
	default n

if CALVIN_STORAGE

config CALVIN_CONFIG_FILE
	string "State file"
	default "calvin.msgpack"

endif

config CALVIN_PYTHON
	bool "Enable Python actors"
	default n

if CALVIN_PYTHON

config CALVIN_PYTHON_HEAPSIZE
	int "MicroPython heap size"
	default 10240

config CALVIN_PYTHON_STACKSIZE
	int "MicroPython stack size"
	default 20480

config CALVIN_CONFIG_ACTOR_MODULES_DIR
	string "Actor modules directory"
	default "mpys"

endif

config CALVIN_SLEEP
	bool "Enable platform sleep"
	default n

if CALVIN_SLEEP

config CALVIN_SLEEP_TIME
	int "Seconds to sleep if no active timers"
	default 60

endif

config CALVIN_CACTORS
	bool "C actors"
	default n
	---help---
		Enable C actors

if CALVIN_CACTORS

config CALVIN_STD_IDENTITY
	bool "std.Identity"
	default n

config CALVIN_IO_LIGHT
	bool "io.Light"
	default n

config CALVIN_IO_BUTTON
	bool "io.Button"
	default n

config CALVIN_SENSOR_TEMPERATURE
	bool "sensor.Temperature"
	default n

config CALVIN_SENSOR_TRIGGERED_TEMPERATURE
	bool "sensor.TriggeredTemperature"
	default n

config CALVIN_CONTEXT_REGISTRYATTRIBUTE
	bool "context.RegistryAttribute"
	default n
endif

endif
